*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  margin: 1vh;
  font-size: calc(2vh + 1px);
}

#navbar a{
  text-decoration: none;
  color: #204911;
  padding: 1vh 1vw;
}

main{
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#navbar{
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 1vh 1vw;
  background-color: #EFF2DF;
  justify-content: space-between;
  position: fixed;
  min-width: 100%;
}

nav{
  display: flex;
  flex-direction: row;
  margin: 2vh 3vw;
  font-size: calc(3vh + 2px);
}


#main-page{
  padding: 42vh 5vw;
  background-image: radial-gradient(#295209, #E4E7D5);
}

#main-heading{
  color: #6ED05E;
  padding: 2vh;
}

#main-tagline{
  color: #95CA95;
  padding: 2vh 10vw;
  margin: 0 10vw;
}

#description-page{
  padding: 1vh 5vw;
  background-color: #E4E7D5;
}

.container{
  justify-content: space-between;
  text-align: center;
  padding: 2vh 5vw;
  margin-top: 10vh;
  color: #657C48;
}

form p{
  padding: 1vh;
}

#email{
  padding: 1vh;
}

#password{
  padding: 1vh;
}

* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #E4E7D5;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
background-color: #657C48;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #a23a3a;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* Add padding to container elements */
.container {
padding: 16px;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

footer{
  background-color:#E4E7D5;
  color: #204911;
  text-align: center;
  padding: 1vh 1vw;
}

#sign-footer{
  padding-bottom: 35vh;
}